body {
    background-color: beige;
}

div {
    border: 1px solid #1c319a;
    border-color: rgb(25, 166, 95);
    height: 300px;

    margin-top: 20px;
    background-color: rgb(178, 176, 193);

}

.rumah {
    height: 700px;
}

div .container-teras {
    display: flex;
    gap: 20px;
    /* Jarak antara taman dan kolam */

}

.taman {
    background-color: rgb(29, 167, 59);
    width: 300px;
    height: 300px;
    /* Tambahkan tinggi jika belum ada */
}

.kolam {
    background-color: rgb(32, 96, 184);
    width: 300px;
    height: 300px;
    /* Tambahkan tinggi agar sama tinggi */
    position: static;
    /* Hapus posisi absolute */
}

.parkiran {
    background-color: rgb(237, 243, 249);
    width: 30%;
    margin-left: 40px;
}

.rak {
    background-color: rgb(165, 58, 128);
    width: 300px;

}

.img {
    max-width: 150px;
    /*posisi */
    position: relative;
    margin: auto;
    width: 100px;
    top: 50;
}